

@import "react-toastify/dist/ReactToastify.css";
@import "react-datepicker/dist/react-datepicker.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



@layer utilities {
  @keyframes gradient-xy {
    0%, 100% {
      background-size: 400% 400%;
      background-position: center top;
    }
    50% {
      background-size: 200% 200%;
      background-position: center center;
    }
  }

  .animate-gradient-xy {
    animation: gradient-xy 15s ease infinite;
  }
}